spring:
  datasource:
    url: jdbc:mysql://localhost:3306/revolver?useSSL=false&useUnicode=true&characterEncoding=UTF-8
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver

mybatis:
  configuration:
   #配置项：开启下划线到驼峰的自动转换. 作用：将数据库字段根据驼峰规则自动注入到对象属性。
   map-underscore-to-camel-case: true
  mapper-locations: classpath:mapper/*.xml

logging:
  level:
   #打印SQL信息
   com.hehe.mapper: debug

debug: true

