<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.robin.revolver.dao.UserDao">
    <resultMap id="userMap" type="pers.robin.revolver.model.User">
        <id property="id" column="id" />
        <result property="userName" column="user_name"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="email" column="gender"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="telephone" column="telephone"/>
        <result property="userType" column="user_type"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <sql id="queryCondition">
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="age != null and age != ''">
                and age = #{age}
            </if>
            <if test="telephone != null and telephone != ''">
                and telephone = #{telephone}
            </if>
            <if test="userType != null and userType != ''">
                and user_type = #{userType}
            </if>
            <if test="keywords != null and keywords != ''">
                and (name like CONCAT('%', #{keywords},'%') OR username
                like CONCAT('%', #{keywords},'%')
                OR telephone like CONCAT('%', #{keywords},'%') OR email like
                CONCAT('%', #{keywords},'%') )
            </if>
        </where>
    </sql>
    <select id="getList" parameterType="map" resultMap="userMap">
      SELECT id, user_name, name, password, email, gender, age, telephone, user_type, create_by, create_time, update_by, update_time
      FROM users
        <include refid="queryCondition"/>
      ORDER BY create_time desc
    </select>
</mapper>